<!DOCTYPE html>
<html>
  <head>
    <title>Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My skills</h1>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <a href="/skills/<%= s.id %>"><%= s.name %></a>
            </li>
        <% }) %>
    </ul>
  </body>
</html>
