<!DOCTYPE html>
<html>
  <head>
    <title><%= skill.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= skill.name %></h1>
    <h3>Level of proficiency: <%= skill.level %></h3>
    <h3>Do I enjoy it? <%= skill.enjoys ? 'Yes' : 'No' %></h3>
    </ul>
  </body>
</html>
